.Button {
  background: #212638;
  width: 64px;
  height: 66px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  cursor: pointer;
}

.Button.Zero {
  grid-column: 1 / span 2;
  border-radius: 35px;
  position: relative;
  justify-content: flex-start;
  padding-left: 43px;
  width: 148px;
}
.Button.function {
  margin-right: 1px;
  background: #8490ff;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #212638;
}

.Button.operator {
  background: #34509e;
}

.Button:hover {
  background: #373b4d;
}

.Button.function:hover {
  background: #5162fd;
}

.Button.operator:hover {
  background: #5469a8;
}
